
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #080808;
  color: #fff;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}


#header{
  width: 100%;
  height: 100vh;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  position: fixed;
  z-index: 1000;
  background-color: #080808;
  top:0;
}

.navbar h1 {
  height: 50px;
  font-size: 40px;
}

.navbar span{
  color: #ff004f;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 50px;
  width: 300px;
  margin-right: 10px;
}

.connect-wallet {
  padding: 10px 20px;
  border-color: #ff004f;
  border-radius: 5px;
  background-color: #080808;
  color: #fff;
  cursor: pointer;
  height: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.connect-wallet:hover {
  background-color: #ff004f;
  transform: translateY(-2px);
}

.get-started {
  display: inline-block;
  padding: 18px 24px; 
  margin-top: 20px;
  border-color: #ff004f;
  border-radius: 10px;
  background-color: #080808;
  color: #fff; 
  font-size: 1.2em; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s; 
  text-decoration: none; 
  
}

.get-started:hover {
  background-color: #ff004f;
  transform: translateY(-2px); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.get-started:active {
  transform: translateY(0); 
}

.header-text{
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.header-text span{
  color: #ff004f;
}

#instructions {
  text-align: left;
  height: 100vh;
  padding-top: 200px;
}

#instructions span{
  color: #ff004f;
}

#instructions h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

#instructions p {
  font-size: 30px;
  margin-bottom: 60px;
}

#instructions ol {
  max-width: 600px;
  margin: 20px;
}

#instructions ol li {
  font-size: 18px;
  margin-bottom: 25px;
}

#swapper {
  padding: 200px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swap-interface {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swap-card {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.swap-input {
  margin-bottom: 20px;
}

.swap-input label {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: left;
  justify-content: left;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
}

.input-amount {
  -moz-appearance: textfield;
  -webkit-appearance: none; 
  appearance: none; 
  flex-grow: 1;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  overflow: hidden;
}

.input-amount::-webkit-outer-spin-button,
.input-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-amount:focus {
  outline: none;
}

.select2-container .select2-selection--single {
  width: 100%; 
  max-width: 300px; 
  height: 50px; 
  display: flex;
  align-items: center;
  overflow: hidden; 
}


.select2-container .select2-selection__clear {
  padding-top: 2px;
  color: #444; 
  font-size: 1.5em;
}

.select2-container .select2-dropdown {
  background-color: #1e1e1e;
  border: 1px solid #444; 
  color: #fff; 
}

.select2-container .select2-results__option {
  background-color: #1e1e1e; 
  color: #fff;
  padding: 10px;
}

.select2-container .select2-selection__rendered img{
  padding-top: 5px;
}

.select2-results__option img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input-value {
  margin-top: 15px;
  color: #ccc;
  text-align: left;
}

.swap-icon {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.swap-button-icon {
  background-color: #444;
  padding: 15px;
  border-radius: 25%;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.swap-button-icon:hover {
  background-color: #555; 
  transform: scale(1.1); 
}

.swap-button-icon:active {
  transform: translateY(0);
}

.swap-interface .connect-wallet {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.swap-info {
  margin-top: 20px;
}

.swap-info p {
  font-size: 0.9em;
  color: #ccc;
  margin-bottom: 10px;
}

.socials{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 30px;
}

.socials h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ccc;
}

.socials .contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.socials .contact-info p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ccc;
}

.socials .social-icons {
  text-align: center;
}

.socials .social-icons a {
  color: #ccc;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.socials .social-icons a:hover {
  color: #ff004f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.overlay.show {
  display: flex;
  opacity: 1;
}

.overlay-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay.show .overlay-content {
  transform: translateY(0);
}


.overlay-content h2{
  font-weight: bold;
}

.overlay-content p{
  font-size: 12px;
  margin-top: 20px;
}


.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}

.wallet-options {
  margin-top: 20px;
}

.wallet-option {
  margin-bottom: 15px;
}

.wallet-option p {
  margin-top: 5px;
  color: #ccc;
  font-size: 0.9em;
  line-height: 1.4em;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #444;
}

.divider:not(:empty)::before {
  margin-right: .25em;
}

.divider:not(:empty)::after {
  margin-left: .25em;
}

.divider span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.wallet-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s;
}

.wallet-button:hover {
  transform: translateY(-2px); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.wallet-button:active {
  transform: translateY(0);
}